footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $background-rosa;
    width: 100%;
    footer h3 {
        font-family: 'Cuprum', sans-serif;
        font-size: 20px;
        text-indent: 10px;
        /* align-items: center; */
        color: #ADA2FF;
    }
    footer h3 a {
        text-decoration: none;
    }
}