main {
    width: 100%;
    .main-banner {
        background-image: url(../assets/portada.png);
        width: 100%;
        height: 1000px;
        background-position: center;
        background-size: auto;
        background-repeat:no-repeat;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);

        h1 {
            grid-row: 1/2;
            grid-column: 3/7;
            font-family: 'Inspiration', cursive;
            font-size: 200px;
            font-weight: 100;
            padding-left: 10%;
            color: #FFE5F1;
        }

        p {
            grid-column: 2/7;
            grid-row: 6/8;
            font-family: 'Cuprum', sans-serif;
            font-size: 50px;
            text-indent: 10px;
            color: #FFF8E1;
            padding-top: 20px;
            padding-left: 100px;
        }
    }

    .gallery-banner {
        display: flex;
        align-items: center;
        width: 100%;
        height: 700px;
        padding: 50px 50px 100px 50px;
        column-gap: 100px;
        background-color: $background-principal;

        div {
            h2 {
                font-family: 'Inspiration', cursive;
                margin-bottom: 10%;
                font-size: 80px;
                font-weight: 100;
                text-indent: 10px;
                padding: 10px;
                color: #FFF8E1;
            }

            p {
                font-family: 'Cuprum', sans-serif;
                font-size: 30px;
                text-indent: 10px;
                color: #FFF8E1;
                padding: 10px;
                align-items: center;
                justify-content: left;
            }
        }
        .img-1{
            padding-left: 50px;
        }
        .img-2{
            padding-top: 100px;
    
        }
    }

    .album-banner {
        background-color: $background-lila;
        @include flex (row, right, 100%);
        @extend .gallery-banner;

        // .section-three {
        //     h2 {
        //         justify-content: right;
        //         font-family: 'Inspiration', cursive;
        //         font-size: 80px;
        //         font-weight: 100;
        //         text-indent: 10px;
        //         /* padding: 10px; */
        //         padding-top: 10%;
        //         padding-left: -10%;
        //         /* margin-right: 5%; */
        //         color: #FFF8E1;
        //     }

        //     p {
        //         font-family: 'Cuprum', sans-serif;
        //         font-size: 50px;
        //         text-indent: 10px;
        //         margin-left: 1%;
        //         /* flex-direction: column;
        //         justify-content: right; */
        //         color: #FFF8E1;


        //     }


        // }
    }
}