@media (max-width:620px) {
    main {
        .tittle-4 {
            h2 {
                font-size: 100px;
            }
        }

        .nueva-galeria {
            display: grid;
            grid-template-columns: 1fr;
            width: 100%;
            padding: 0px;
            gap: 20px;

            section {
                figure {
                    img {
                        max-width: 250px;
                    }
                }
            }
        }
    }
}

@media (max-width:620px) {
    main {
        .main-banner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 0px;
            background-image: url(../assets/portada.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            h1 {
                font-size: 60px;
                padding-top: 5%;
                padding-bottom: 20%;
                padding-left: 0%;
                text-align: center;


            }

            P {
                font-size: 15px;
                padding-top: 0%;
                padding-bottom: 10%;
                padding-left: 0%;
                margin-bottom: 5%;
                text-align: center;
            }

        }

        .gallery-banner {
            display: grid;
            // justify-content: space-between;
            width: 100%;
            height: 100%;
            column-gap: 20px;
            padding: 5px;
            grid-template-columns: 1fr 1fr;

            div {
                grid-column-start: 1;
                grid-column-end: 3;

                h2 {
                    margin: 0px;
                    font-size: 40px;
                    text-align: center;
                }

                p {
                    font-size: 10px;
                    text-align: center;
                }
            }


            .img-1 {
                display: grid;
                grid-column-start: 1;
                grid-column-end: 2;
                align-items: center;
                justify-content: center;
                padding-bottom: 0px;
                padding-left: 0px;

                img {
                    max-width: 80px;
                }
            }

            .img-2 {
                display: flex;
                grid-column-start: 2;
                grid-column-end: 3;
                align-items: center;
                justify-content: center;
                padding-top: 0px;

                img {

                    max-width: 70px;
                }
            }
        }

        .album-banner {
            display: flex;
            flex-direction: colum;
            width: 100%;
            height: 100%;
            padding: 5px;
            column-gap: 10px;

            div {
                img {
                    max-width: 160px;
                }
            }

            .section-three {

                h2 {
                    font-size: 20px;
                    text-align: center;
                    // padding-top: 20px;
                    // padding-left: 35px;
                }

                p {
                    font-size: 10px;
                    text-align: center;
                }

            }
        }

    }

}