main {
    background-color: $background-principal;
    height: 100%;

    div {
        ul {
            li {
                font-family: 'Cuprum', sans-serif;
                font-size: 20px;
                text-indent: 10px;
                padding: 10px;
                border: 5px;
                color: #FFF8E1;
                display: list-item;
            }
        }
    }
}